.bg-green {
  background-color: #3BD16F;
  background: #3BD16F;
}

.bg-grey {
  background: #E3E3E3;
  background-color: #E3E3E3;
}

.bg-transparent {
  background: transparent;
  background-color: transparent;
}

/* Profile Info */
.profile-picture-rad {
  width: 35px;
  height: 35px;
  border-radius: 2px;
  /* border: 2px solid #d3d6db;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07); */
}

.profile-picture-chat {
  width: 45px;
  height: 45px;
  border-radius: 2px;
  /* border: 2px solid #d3d6db;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07); */
}


/* Chat Room */
.box-chats {
  padding: 0;
  margin: 0;
  background-size: cover;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: 540px;
}

.message-body {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

.message-main-receiver {
  padding: 10px 20px;
  max-width: 60%;
}

.message-main-sender {
  padding: 3px 20px;
  margin-left: 40%;
  max-width: 60%;
}

.message-text {
  margin: 0;
  padding: 5px;
  word-wrap: break-word;
  font-weight: 200;
  font-size: 14px;
  padding-bottom: 0;
}

.message-time {
  margin: 0;
  margin-left: 5px;
  font-size: 12px;
  text-align: right;
  color: #9a9a9a;

}

.receiver {
  width: auto;
  padding: 4px 10px 7px;
  border-radius: 10px 10px 10px 0;
  background: #ffffff;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  word-wrap: break-word;
  display: inline-block;
}

.sender {
  display: inline-block;
  float: right;
  width: auto;
  background: #dcf8c6;
  border-radius: 10px 10px 0 10px;
  padding: 4px 10px 7px;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  word-wrap: break-word;
}