.bg-green {
  background-color: #3BD16F;
  background: #3BD16F;
}

.bg-dark-green {
  background-color: rgb(49, 165, 90);
  background: rgb(49, 165, 90);
}

.bg-grey {
  background: #E3E3E3;
  background-color: #E3E3E3;
}

.bg-transparent {
  background: transparent;
  background-color: transparent;
}

/* Kanban */
.box-kanban {
  display: flex;
  width: 100%;
  /* height: 560px; */
  /* background: #fff;
  background-color: #fff; */
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap
}

/* card */
.box-cards {
  width: 300px;
  margin: 0 10px;
  height: auto;
  /*.box-kanban*/
  border-radius: 5px;
  border-top: 5px solid rgb(49, 165, 90);
  background: #e0f2f1;
  background-color: #e0f2f1;
}

.box-cards-child-title {
  margin: auto 0;
  font-size: 16px;
  font-weight: bold;
}

.box-cards-child-body {
  width: 100%;
  min-height: 80px;
  max-height: 450px;
  margin: 0 auto;
  padding: 0 auto;
  overflow-y: auto;
  white-space: nowrap
}

.box-cards-child {
  width: 90%;
  min-height: 80px;
  background: #fff;
  background-color: #fff;
  border-radius: 5px;
  border-left: 5px solid #3BD16F;
}

.box-cards-child-footer {
  margin: auto;
}

/* kanban modal */
.body-kanban-scroll {
  min-height: 100px;
  /* max-height: 120px; */
  max-height: 400px;
  margin: 0 auto;
  padding: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap
}


/* font-size */
.size-6 {
  font-family: "Roboto" !important;
  font-size: 15px;
}

/* .size-5 {
  font-size: ? px;
}
.size-4 {
  font-size: ? px;
}
.size-3 {
  font-size: ? px;
}
.size-2 {
  font-size: ? px;
}
.size-1 {
  font-size: ? px; 
}*/


/* Floating Action Button */
.act-btn {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  text-decoration: none !important;
  transition: ease all 0.3s;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #3BD16F;
  background-color: #3BD16F;
}

/* Button  */
.btn-success {
  background: #3BD16F;
  background-color: #3BD16F;
  border: 1px solid #3BD16F;
}


/* Status badge */
.badge-status-task {
  width: 50px;
  padding: 0;
  line-height: .375rem;
}