/* scrolling */
.custom-scrollbar::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
body ::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e8ecf5;
}

.custom-scrollbar::-webkit-scrollbar,
body::-webkit-scrollbar,
body ::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  background-color: #e8ecf5;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
body ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #04A777;
}


.app .ant-popover.sm {
  width: 150px;
}

.app .ant-popover.md {
  width: 200px;
}

.app .ant-popover.lg {
  width: 250px;
}

.app .ant-popover.xl {
  width: 300px;
}

.app .ant-popover.xll {
  width: 330px;
}

.app .ant-popover-title {
  min-width: auto;
}

.app .ant-popover.popover-no-padding .ant-popover-inner-content {
  padding: 0px;
}

.app .ant-popover.popover-no-padding-right .ant-popover-inner-content {
  padding-right: 0px;
}

.line-h-r {
  width: 100%;
  height: 1px;
  color: #e8ecf5;
  background: #e8ecf5;
}

/* https://fonts.google.com/?query=lo&selection.family=Lato|Lobster+Two:400i|Open+Sans:400,700|Roboto:500 */
/* @import url('https://fonts.googleapis.com/css?family=Lato|Lobster+Two:400i|Open+Sans:400,700|Roboto:500&display=swap'); */

/* body {
  font-family: "Open Sans";
} */

/* .italic */
/* h1 {
  font-family: "Lobster Two";
} */

/* h1, */
/* h2 {
  font-family: "Lato";
} */

/* p {
  font-family: "Roboto";
} */

/* .Open_Sans {
  font-family: "Open Sans" !important;
} */

/* .Lobster_Two {
  font-family: "Lobster Two" !important;
} */

/* .Lato {
  font-family: "Lato" !important;
} */

/* .Roboto {
  font-family: "Roboto" !important;
} */